@keyframes rotateEven {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateOdd {
  0% {
    transform: rotate(-0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.clouds-top,
.clouds-bottom {
  position: absolute;
  // z-index: 10;
  right: 0;
  left: 0;
  width: 100%;
  // height: 400px;
  pointer-events: none;
  background-repeat: repeat-x;
  background-size: contain;
  overflow: hidden;
}
.top-section {
  .clouds-top {
    // top: 50px;
  }
}

.clouds-top {
  top: 0px;
  background-image: url('../img/cloud-top.png');
  background-position: 50% 0;

  @include m760() {
    background-position: 50% 0%;
  }
  .cloud {
    top: 0;
  }
}
.clouds-bottom {
  bottom: 0;
  background-image: url('../img/cloud-bottom.png');
  background-position: 50% 100%;
  .cloud {
    bottom: 0;
  }
}

.clouds {
  position: relative;
  height: 300px;

}
.cloud {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 200px;
  // background-image: url('../img/cloud.png');
  background-repeat: no-repeat;
  background-size: contain;
  @include m760() {
    display: none;
  }
}
.cloud:nth-child(even) {
  // animation: rotateEven 30s infinite linear;
}
.cloud:nth-child(odd) {
  // animation: rotateOdd 40s infinite linear;
}
.cloud-00 {
  animation: rotateEven 30s infinite linear;
  background-image: url('../img/cloud-01.png');
  left: -5%;
}
.cloud-01 {
  animation: rotateOdd 50s infinite linear;
  background-image: url('../img/cloud-02.png');
  left: 0;
}
.cloud-02 {
  animation: rotateEven 20s infinite linear;
  background-image: url('../img/cloud-03.png');
  left: 5%;
}
.cloud-03 {
  animation: rotateOdd 40s infinite linear;
  background-image: url('../img/cloud-04.png');
  left: 10%;
}
.cloud-04 {
  animation: rotateEven 30s infinite linear;
  background-image: url('../img/cloud-05.png');
  left: 15%;
}
.cloud-05 {
  animation: rotateOdd 55s infinite linear;
  background-image: url('../img/cloud-06.png');
  left: 20%;
}
.cloud-06 {
  animation: rotateEven 30s infinite linear;
  background-image: url('../img/cloud-07.png');
  left: 25%;
}
.cloud-07 {
  animation: rotateOdd 20s infinite linear;
  background-image: url('../img/cloud-08.png');
  left: 30%;
}
.cloud-08 {
  animation: rotateEven 25s infinite linear;
  background-image: url('../img/cloud-09.png');
  left: 35%;
}
.cloud-09 {
  animation: rotateOdd 50s infinite linear;
  background-image: url('../img/cloud-10.png');
  left: 40%;
}
.cloud-10 {
  animation: rotateEven 55s infinite linear;
  background-image: url('../img/cloud-11.png');
  left: 45%;
}
.cloud-11 {
  animation: rotateOdd 30s infinite linear;
  background-image: url('../img/cloud-01.png');
  left: 50%;
}
.cloud-22 {
  animation: rotateEven 20s infinite linear;
  background-image: url('../img/cloud-02.png');
  left: 55%;
}
.cloud-13 {
  animation: rotateOdd 50s infinite linear;
  background-image: url('../img/cloud-03.png');
  left: 60%;
}
.cloud-14 {
  animation: rotateEven 40s infinite linear;
  background-image: url('../img/cloud-04.png');
  left: 65%;
}
.cloud-15 {
  animation: rotateOdd 30s infinite linear;
  background-image: url('../img/cloud-05.png');
  left: 70%;
}
.cloud-16 {
  animation: rotateEven 40s infinite linear;
  background-image: url('../img/cloud-06.png');
  left: 75%;
}
.cloud-17 {
  animation: rotateOdd 50s infinite linear;
  background-image: url('../img/cloud-07.png');
  left: 80%;
}
.cloud-18 {
  animation: rotateEven 30s infinite linear;
  background-image: url('../img/cloud-08.png');
  left: 85%;
}
.cloud-19 {
  animation: rotateOdd 30s infinite linear;
  background-image: url('../img/cloud-09.png');
  left: 90%;
}
.cloud-20 {
  animation: rotateEven 40s infinite linear;
  background-image: url('../img/cloud-10.png');
  left: 95%;
}
.cloud-21 {
  animation: rotateOdd 50s infinite linear;
  background-image: url('../img/cloud-11.png');
  left: 100%;
}
