@keyframes rotateEven {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateOdd {
  0% {
    transform: rotate(-0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.clouds-top,
.clouds-bottom {
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  pointer-events: none;
  background-repeat: repeat-x;
  background-size: contain;
}
.clouds-top {
  top: 0;
  background-image: url('../img/cloud-top.png');
  background-position: 50% 0;

  @include m760() {
    background-position: 50% 0;
  }
  .cloud {
    top: 0;
  }
}
.clouds-bottom {
  bottom: 0;
  background-image: url('../img/cloud-bottom.png');
  background-position: 50% 100%;
  .cloud {
    bottom: 0;
  }
}

.clouds {
  position: relative;
  height: 300px;
}
.cloud {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;

  @include m760() {
    display: none;
  }
}
.cloud:nth-child(even) {
  // animation: rotateEven 30s infinite linear;
}
.cloud:nth-child(odd) {
  // animation: rotateOdd 40s infinite linear;
}
.cloud-00 {
  left: -5%;
  animation: rotateEven 50s infinite linear;
  background-image: url('../img/cloud-01.png');
}
.cloud-01 {
  left: 0;
  animation: rotateOdd  70s infinite linear;
  background-image: url('../img/cloud-02.png');
}
.cloud-02 {
  left: 5%;
  animation: rotateEven 40s infinite linear;
  background-image: url('../img/cloud-03.png');
}
.cloud-03 {
  left: 10%;
  animation: rotateOdd  60s infinite linear;
  background-image: url('../img/cloud-04.png');
}
.cloud-04 {
  left: 15%;
  animation: rotateEven 50s infinite linear;
  background-image: url('../img/cloud-05.png');
}
.cloud-05 {
  left: 20%;
  animation: rotateOdd  75s infinite linear;
  background-image: url('../img/cloud-06.png');
}
.cloud-06 {
  left: 25%;
  animation: rotateEven 50s infinite linear;
  background-image: url('../img/cloud-07.png');
}
.cloud-07 {
  left: 30%;
  animation: rotateOdd  40s infinite linear;
  background-image: url('../img/cloud-08.png');
}
.cloud-08 {
  left: 35%;
  animation: rotateEven 55s infinite linear;
  background-image: url('../img/cloud-09.png');
}
.cloud-09 {
  left: 40%;
  animation: rotateOdd  70s infinite linear;
  background-image: url('../img/cloud-10.png');
}
.cloud-10 {
  left: 45%;
  animation: rotateEven 75s infinite linear;
  background-image: url('../img/cloud-11.png');
}
.cloud-11 {
  left: 50%;
  animation: rotateOdd  50s infinite linear;
  background-image: url('../img/cloud-01.png');
}
.cloud-22 {
  left: 55%;
  animation: rotateEven 40s infinite linear;
  background-image: url('../img/cloud-02.png');
}
.cloud-13 {
  left: 60%;
  animation: rotateOdd  70s infinite linear;
  background-image: url('../img/cloud-03.png');
}
.cloud-14 {
  left: 65%;
  animation: rotateEven 60s infinite linear;
  background-image: url('../img/cloud-04.png');
}
.cloud-15 {
  left: 70%;
  animation: rotateOdd  50s infinite linear;
  background-image: url('../img/cloud-05.png');
}
.cloud-16 {
  left: 75%;
  animation: rotateEven 60s infinite linear;
  background-image: url('../img/cloud-06.png');
}
.cloud-17 {
  left: 80%;
  animation: rotateOdd  70s infinite linear;
  background-image: url('../img/cloud-07.png');
}
.cloud-18 {
  left: 85%;
  animation: rotateEven 50s infinite linear;
  background-image: url('../img/cloud-08.png');
}
.cloud-19 {
  left: 90%;
  animation: rotateOdd  50s infinite linear;
  background-image: url('../img/cloud-09.png');
}
.cloud-20 {
  left: 95%;
  animation: rotateEven 60s infinite linear;
  background-image: url('../img/cloud-10.png');
}
.cloud-21 {
  left: 100%;
  animation: rotateOdd  70s infinite linear;
  background-image: url('../img/cloud-11.png');
}
