.contacts-section {
  height: 100%;
  // min-height: 100vh;
  background-color: #e1e1e6;
}
.contacts-section__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: space-between;
}
.contacts-section__header {
  z-index: 20;
  margin-bottom: 20px;
  padding-top: 80px;
  text-align: center;
}
.contacts-section__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $font-color;

  @include font-size(48);
}
.contacts-section__header-row {
  display: flex;

  justify-content: space-between;
  @include m760() {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.contacts-section__header-item {
  position: relative;
  padding-left: 40px;
  text-align: left;

  @include m760() {
    // width: 50%;
    margin-bottom: 20px;
  }
  @include m640() {
    // width: auto;
    padding-right: 20px;
  }
  a {
    text-decoration: none;
    color: $font-color;

    @include font-size(22);
    &:hover {
      color: $link-color-hov;
    }
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;

    fill: $highlight;
  }
  &.phone {
    svg {
      top: 5px;
    }
    a {
      @include font-size(30);
    }
  }
}
.contacts-section__body {
  position: relative;
}
.contacts-section__body-row {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-bottom: -300px;
  margin-left: auto;

  justify-content: space-between;
  @include m760() {
    padding-top: 0;
  }
  @include m570() {
    justify-content: center;
  }
}
.contacts-section__body-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;

  align-items: center;
  @include m570() {
    margin: 0 30px;
  }
  &:hover {
    .contacts-section__body-circle {
      border-color: $highlight;
      svg {
        fill: $highlight;
      }
    }
    .contacts-section__body-title {
      color: $highlight;
    }
  }
}
.contacts-section__body-circle {
  display: flex;
  width: 70px;
  height: 70px;
  margin-bottom: 7px;
  transition: .5s;
  border: 2px solid #8b8d99;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
  svg {
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
    transition: .5s;

    fill: #8b8d99;
  }
}
.contacts-section__body-title {
  transition: .5s;
  color: $font-color;
}
.contacts-section__body-pic {
  img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 100px auto 0;

    @include m570() {
      margin-top: 300px;
    }
  }
}
.contacts-section__body-pic--page {
  margin-top: 130px;
}
