.footer {
  position: absolute;
  z-index: 20;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #fff;
  .container {
    padding: 10px 20px;
  }
  span,
  a {
    text-decoration: none;
    color: $font-color;

    @include font-size(12);
  }
}