.join-section {
  height: 100%;
  min-height: 100vh;
  background-color: #e1e1e6;
}
.join-section__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: space-between;
}
.join-section__header {
  z-index: 20;
  margin-bottom: 20px;
  padding-top: 40px;
  text-align: center;
}
.join-section__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $font-color;

  @include font-size(48);
}
.join-section__subtitle {
  line-height: 22px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;

  @include font-size(18);
}

.join-section__body {
  position: relative;
  // z-index: 20;
  z-index: 1;
}
.join-section__body-pic {
  img {
    display: block;
    width: 100%;
    max-width: 780px;
    margin: -80px auto 0;
  }
}
.join-section-tabs__header {
  display: flex;
  margin: 0 0 20px 0;
  padding: 0 35px 0 35px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(136, 139, 151, .35);

  justify-content: space-between;
  @include m760() {
    flex-wrap: wrap;
  }
  @include m425() {
    padding: 0 15px 0 15px;
  }
}
.join-section-tabs__tab {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 20px 0 15px 0;
  list-style: none;
  cursor: pointer;
  transition: color .5s;

  @include font-size(18);
  @include m760() {
    min-width: 30%;
    padding: 15px 10px 10px 10px;
    text-align: center;
  }
  @include m570() {
    width: 50%;
  }
  @include m425() {
    padding: 10px 5px 10px 5px;
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 0;
    margin: auto;
    content: '';
    transition: border-color .5s;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  &:hover {
    color: $highlight;
  }
  &.active {
    &::before {
      border-bottom: 8px solid $highlight;
    }
  }
}
.join-section__tabs-body {
  position: relative;
  padding: 10px 25px;
}
.join-tab {
  display: none;
  &.active {
    display: block;
  }
}
.join-tab__btn-row {
  text-align: center;
}
