// begin about section
#section1.section.about-section
  include ../elements/clouds-top

  .container.about-section__container
    .about-section__header
      h2.about-section__title О клубе
      h3.about-section__subtitle Веселая атмосфера, вежливый персонал, элитный алкоголь, эксклюзивные коктейли от лучших барменов города и, конечно же, "жемчужинки" нашего клуба - самые сексуальные танцовщицы!

    .about-section__body
      .about-section__body-inn
        .about-section__body-row
          a(href="#").about-section-item
            .about-section-item__circle
              svg
                use(xlink:href="assets/img/sprite.svg#hair")
            .about-section-item__text Самые красивые девушки
          a(href="#").about-section-item
            .about-section-item__circle
              svg
                use(xlink:href="assets/img/sprite.svg#heart")
            .about-section-item__text Изысканная атмосфера

        .about-section__body-row
          a(href="#").about-section-item
            .about-section-item__circle
              svg
                use(xlink:href="assets/img/sprite.svg#drink")
            .about-section-item__text Широкий ассортимент напитков
          a(href="#").about-section-item
            .about-section-item__circle
              svg
                use(xlink:href="assets/img/sprite.svg#balloons")
            .about-section-item__text Развлечения на любой вкус

      //- .about-section__body-pic
        //- img(src="assets/img/bg-about-section.png", alt="about section girl")

    .about-section-page
      .about-section-page__header
        h3.about-section-page__title Клуб "Golden Mask"
      p Гостеприимно открывает двери в мир искушения и соблазна. Самые красивые девушки Санкт-Петербурга не дадут Вам скучать! Страстные приватные танцы, жаркие эротические фантазии, способные растопить лед, откровенные лесби-шоу, соблазнительное пенное шоу в душе, эротический боди-арт и это далеко не все, чем наши искусительницы могут удивить Вас! 
      p В зависимости от настроения и желания, Вы сможете расположиться в любой зоне нашего клуба: насладиться зажигательными танцами на сцене, горячим откровенным стриптизом в приватной комнате или расслабиться и покурить кальян в просторной кальянной комнате в компании наших красавиц.

  include ../elements/clouds-bottom
    
// end about section