//begin footer
footer.footer
  .container
    span 
      |&#169; Все права защищены. Санкт-Петербург, 2017. Golden Mask club. Проспект Мориса Тореза, дом 36/1. 
    a(href="#") Сделано в ProShift
//end   footer