// begin header
header.header#header
  .container
    include ../elements/burger

    .top-contacts__open-btn
      svg
        use(xlink:href="assets/img/sprite.svg#phone")
            
    nav#top-nav
      ul.top-nav__list
        li.top-nav__item
          a(href="#").top-nav__link.active Главная
        li.top-nav__item
          a(href="#").top-nav__link О клубе
        li.top-nav__item
          a(href="#").top-nav__link Развлечения
        li.top-nav__item
          a(href="#").top-nav__link Фотогалерея
        li.top-nav__item
          a(href="#").top-nav__link Меню
        li.top-nav__item
          a(href="#").top-nav__link Контакты
// end   header