// begin interior section
#section3.section.interior-section
  include ../elements/clouds-top

  .container.interior-section__container
    .interior-section__header
      h2.interior-section__title Интерьер
      h3.interior-section__subtitle Веселая атмосфера, вежливый персонал, элитный алкоголь, эксклюзивные коктейли от лучших барменов города и, конечно же, "жемчужинки" нашего клуба - самые сексуальные танцовщицы!

    .interior-section__body
      .interior-slider#interior-slider
        .interior-slider__item
          img(src="assets/img/interior/interior-00.jpg" alt="интерьер клуба")
        .interior-slider__item
          img(src="assets/img/interior/interior-01.jpg" alt="интерьер клуба")
        .interior-slider__item
          img(src="assets/img/interior/interior-02.jpg" alt="интерьер клуба")

      .interior__btn-row
        .interior-section__footer-btn
          a(href="#").link-btn
            span 3D тур
          a(href="#").link-btn 
            span больше фото

  include ../elements/clouds-bottom
    
// end interior section