// begin menu section
#section4.section.menu-section
  span#menu-sec
  include ../elements/clouds-top

  .container.menu-section__container
    .menu-section__header
      h2.menu-section__title Меню
      h3.menu-section__subtitle Веселая атмосфера, вежливый персонал, элитный алкоголь, эксклюзивные коктейли от лучших барменов города и, конечно же, "жемчужинки" нашего клуба - самые сексуальные танцовщицы!

    .menu-section__body
      .menu-section__list
        .menu-section__item
          h3.menu-section__item-title Барное меню
          p Веселая атмосфера, вежливый персонал, элитный алкоголь, эксклюзивные коктейли от лучших барменов города и, конечно же, "жемчужинки" нашего клуба - самые сексуальные танцовщицы!
          a(href="#").link-btn 
            span открыть
            
        .menu-section__item
          h3.menu-section__item-title Crazy меню
          p Веселая атмосфера, вежливый персонал, элитный алкоголь, эксклюзивные коктейли от лучших барменов города и, конечно же, "жемчужинки" нашего клуба - самые сексуальные танцовщицы!
          a(href="#").link-btn 
            span открыть

        .menu-section__item
          h3.menu-section__item-title Дополнительно
          p Веселая атмосфера, вежливый персонал, элитный алкоголь, эксклюзивные коктейли от лучших барменов города и, конечно же, "жемчужинки" нашего клуба - самые сексуальные танцовщицы!
          a(href="#").link-btn 
            span открыть

  include ../elements/clouds-bottom
    
// end menu section