// begin top section
#section0.section.top-section
  include ../elements/clouds-top

  .container.top-section__container
    .top-section__header
      include ../elements/top-contacts
      h2.top-section__title Место исполнения твоих желаний
      h3.top-section__subtitle клуб для настоящих ценителей красоты 

    .top-section__body
      .top-section__body-pic
        img(src="assets/img/bg-top-section.png", alt="top girl")


    .top-section__footer
      h3.top-section__footer-text узнайте как провести незабываемый вечер прямо сейчас
      a(href="#").link-btn 
        span подробнее

  include ../elements/clouds-bottom

// end top section