//begin clouds-top
.clouds-top
  .clouds
    .cloud.cloud-01
    .cloud.cloud-02
    .cloud.cloud-03
    .cloud.cloud-04
    .cloud.cloud-05
    .cloud.cloud-06
    .cloud.cloud-07
    .cloud.cloud-08
    .cloud.cloud-09
    .cloud.cloud-10
//end clouds-top