//begin clouds-top
.clouds-top
  .clouds
    .cloud.cloud-00
    .cloud.cloud-01
    .cloud.cloud-02
    .cloud.cloud-03
    .cloud.cloud-04
    .cloud.cloud-05
    .cloud.cloud-06
    .cloud.cloud-07
    .cloud.cloud-08
    .cloud.cloud-09
    .cloud.cloud-10
    .cloud.cloud-11
    .cloud.cloud-12
    .cloud.cloud-13
    .cloud.cloud-14
    .cloud.cloud-15
    .cloud.cloud-16
    .cloud.cloud-17
    .cloud.cloud-18
    .cloud.cloud-19
    .cloud.cloud-20
    .cloud.cloud-21
//end clouds-top