//begin top contacts
.top-contacts
  .top-adress
    svg.top-contacts__svg
      use(xlink:href="assets/img/sprite.svg#marker")
    a(href="#" target="_blank" rel="nofollow noopener noreferrer") 
      |пр. Мориса Тореза, д. 36/1
      br
      |с 20:00 до 6:00
  .top-logo
    a(href="#")
      img(src="assets/img/top-logo.png" alt="Golden mask logo")
  .top-phone
    svg.top-contacts__svg
      use(xlink:href="assets/img/sprite.svg#phone")
    a(href="tel://+79219191718") +7 (921) 919-17-18
//end top contacts