*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.15;
  color: $font-color;

  @include m768() {
    font-size: 15px;
  }
  @include m425() {
    font-size: 14px;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
body.fix {
  position: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 20px 0;
}
h1 {
  text-transform: uppercase;

  @include font-size(30);
}
h2 {
  color: $highlight;

  @include font-size(24);
}
h3 {
  @include font-size(24);
}
h4 {
  text-transform: uppercase;
  color: $highlight;

  @include font-size(18);
}
h5 {
  @include font-size(18);
}
h6 {
  text-transform: uppercase;

  @include font-size(18);
}
p {
  @include font-size(16);
}
a {
  transition: color .5s;
  color: $link-color-hov;
  &:hover {
    text-decoration: none;
    color: $link-color-hov;
  }
}
ol,
ul {
  li {
    padding: 3px 0;
  }
}
ul {
  li {
    list-style-image: url('../img/ul.png');
  }
}
.main {
  position: relative;
  background-color: #e1e1e6;
  overflow: hidden;

  flex: 1 0 auto;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px;

  @include m768() {
    padding: 10px 20px;
  }
  @include m425() {
    padding: 10px;
  }
}
.header,
.page-header,
.footer {
  flex: 0 0 auto;
}
.page-header {
  padding: 35px;
  text-align: center;
}
.page-header__title {
  font-size: 30px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  text-transform: none;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 110px;
    height: 20px;
    margin: auto;
    content: '';
    background-image: url('../img/page-header__title.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  &::after {
    right: calc(100% + 20px);
  }
  &::before {
    left: calc(100% + 20px);
    transform: rotate(180deg);
  }
}
.page-list {
  position: relative;
  z-index: 20;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 35px 35px 35px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(136, 139, 151, .35);
    @include m760() {
      margin-top: 70px;
    }
  .page-header__title {
    @include m425() {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
// обнуление slick slider loader
.slick-loading .slick-list {
  background: none;
}