@font-face {
  font-family: 'FreeSerif';
  src:  url('../fonts/FreeSerif/FreeSerif.eot');
  src:  url('../fonts/FreeSerif/FreeSerif.woff')  format('woff'),
        url('../fonts/FreeSerif/FreeSerif.ttf')   format('truetype'),
        url('../fonts/FreeSerif/FreeSerif.svg')   format('svg');
  font-weight: normal;
  font-style: normal;
}