// ===== colors =====
$brand-color: #c42e2e;
$link-color: #82d2e5;
$link-color-hov: #e9c079;
$highlight: #e9c079;
$font-color: #888b97;


// ===== fonts =====
$font: 'FreeSerif', sans-serif;

// $font-bold:       'OpenSans-Bold', sans-serif;
// $font-light:      'OpenSans-Light', sans-serif;
// $font-semibold:   'OpenSans-Semibold', sans-serif;

// $font-primary: 'Roboto', sans-serif;
// $font-secondary: Arial, Helvetica, sans-serif;

// ===== sizes =====
// $radius-button: 5px;
// $radius-tab: 5px;
