extends ../_template

block variables
  - var title = '404'
  - var pageHeaderTitle = 'Внутренняя страница'

block content
  include ../sections/header

  //begin content
  section.main.main-error
    
    include ../elements/clouds-top

    .container

      include ../elements/top-contacts
      
      .error-body
        .error-left
          .error-left__icon
          .error-left__text 
            |ошибка
            br
            span 404

        .error-middle

        .error-right
          p.error-right__text Запрашиваемой страницы не существует, или она была удалена
          a(href="#").link-btn 
            span вернуться назад
    
    include ../elements/clouds-bottom
  //end   content

  include ../sections/footer
