extends ../_template

block variables
  - var title = 'Меню'
  - var pageHeaderTitle = 'Внутренняя страница'

block content
  include ../sections/header

  //begin content
  section.main
    
    include ../elements/clouds-top

    .container

      include ../elements/top-contacts
      
      .gallery-list
        header.page-header
          h1.page-header__title Галерея

        section.gallery
          <a class="gallery__item" href="assets/img/gallery/gallery-01.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-01.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-02.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-02.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-03.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-03.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-01.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-01.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-02.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-02.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-03.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-03.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-01.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-01.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-02.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-02.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-03.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-03.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-01.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-01.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-02.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-02.jpg", alt="preview image")
          </a>
          <a class="gallery__item" href="assets/img/gallery/gallery-03.jpg" data-lightbox="girls-gallery">
            img(src="assets/img/gallery/gallery-thumb-03.jpg", alt="preview image")
          </a>

    
    include ../elements/clouds-bottom
  //end   content

  include ../sections/footer
