extends ../_template

block variables
  - var title = 'Golden mask'

block content
  include ../sections/header

  //begin content
  #fullpage
    include ../sections/top-section

    include ../sections/about-section


    #section2.section
      .intro
        h1 Развлечения
    #section3.section
      .intro
        h1 Фотогалерея
    #section4.section
      .intro
        h1 Меню
    #section5.section
      .intro
        h1 Контакты
   
  //end   content

  //- include ../sections/footer