extends ../_template

block variables
  - var title = 'Golden mask'

block content
  include ../sections/header

  //begin content
  

  #fullpage
    include ../sections/top-section

    include ../sections/about-section

    include ../sections/join-section

    include ../sections/interior-section

    include ../sections/menu-section

    include ../sections/contacts-section

  //end   content

  //- include ../sections/footer