 .gallery-list {
  position: relative;
  z-index: 20;
  margin-bottom: 50px;

  @include m760() {
    margin-top: 50px;
  }
  .page-header__title {
    @include m425() {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
#lightbox {
  top: 50% !important;
  transform: translateY(-50%);
  position: fixed;
}
.gallery {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery__item {
  width: 31.5%;
  margin-bottom: 15px;

  @include m760() {
    width: 49%;
  }
  @include m425() {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
  }
}

//lightbox
.lightboxOverlay {
  z-index: 10000;
}
.lightbox .lb-image {
  border: none;
}
.lb-prev,
.lb-next {
  position: relative;
  opacity: 1 !important;
  &::before {
    position: absolute;
    z-index: 10000;
    top: 0;
    bottom: 0;
    display: block;
    width: 48px;
    height: 42px;
    margin: auto;
    content: '';
    background-image: url('../img/interior-slider-arr.png');
    background-repeat: no-repeat;
  }
}
.lb-prev {
  &::before {
    left: -48px;
    background-position: 0 100%;

    @include m1280() {
      left: 0;
    }
  }
  &:hover {
    &::before {
      background-position: 0 1px;
    }
  }
}
.lb-next {
  &::before {
    right: -48px;
    background-position: 100% 100%;

    @include m1280() {
      right: 0;
    }
  }
  &:hover {
    &::before {
      background-position: 100% 1px;
    }
  }
}
//сброс картинок по умолчанию
body:after {
  content: '';
}
.lb-cancel,
.lb-nav a.lb-prev,
.lb-nav a.lb-next,
.lb-data .lb-close {
  background-image: none;
}
.lb-data .lb-close {
  background-image: url('../img/close.png');
}
